@model IEnumerable<Tarefa>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-geral">
    <form class="container-tarefa uk-flex uk-flex-middle uk-flex-center uk-margin-medium-top">
        <input name="Tarefa" class="uk-border-rounded uk-input uk-form-width-large" id="DescricaoTarefa" type="text"
            placeholder="Adicionar nova tarefa..." aria-label="Large">
        <div class="uk-margin-left">
            <input type="checkbox" id="Urgente" name="Urgente" value="1">
            <span class="uk-text-bold texto-urgente">Urgente</span>
        </div>
        <button class="uk-button uk-border-rounded uk-button-primary uk-margin-left" type="submit"
            id="AdicionarTarefa">ADICIONAR</button>
    </form>
    <div class="minhas-tarefas-container uk-flex uk-flex-between uk-margin-small-top">
        <span class="uk-text-bold uk-text-large">Minhas Tarefas</span>
        <form class="uk-search uk-search-default">
            <span uk-search-icon></span>
            <input class="uk-search-input uk-border-rounded" type="search" oninput="pesquisarTarefa()"
                placeholder="Pesquisar Tarefas" id="DescricaoTarefaPesquisada" aria-label="Search">
        </form>
    </div>
    <div class="uk-margin-small-top botao-filtro">
        <button class="padrao-botao" onclick='mostrarTodasTarefas()'>
            <span class="">Todas</span>
        </button>
        <button class="padrao-botao" onclick="filtrarTarefasPendentes()">
            <span class="">Pendentes</span>
        </button>
        <button class="padrao-botao" onclick='filtrarTarefasConcluidas()'>
            <span class="">Concluídas</span>
        </button>
        <button class="padrao-botao" onclick='filtrarTarefasUrgentes()'>
            <span class="">Urgentes</span>
        </button>
    </div>
    <div id="listaDeTarefas">
        @if (Model != null && Model.Any())
        {
            @foreach (var tarefa in Model)
            {
                var classeTarefas = tarefa.Urgencia ? "tarefa-urgente-container" : "tarefa-container";

                <div class="@classeTarefas uk-flex uk-flex-between uk-margin-small-top">
                    <div class="uk-flex uk-flex-middle">
                        <input class="uk-margin-left checkbox-customizado" type="checkbox" name="concluirTarefa"
                            id="concluirTarefa"
                            onchange="alternarConclusao('@Url.Action("AlternarConclusao", new { tarefaId = tarefa.TarefaId })')"
                            @(tarefa.Concluida ? "checked" : "") />
                        <span class="texto-tarefa uk-margin-small-left">@tarefa.Descricao</span>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <button class="uk-margin-small-right icone-editar" type="button" uk-toggle="target: #modal-example"
                            uk-icon="pencil"></button>
                        <div id="modal-example" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-modal-title">Editar tarefa</h2>
                                <form>
                                    <div class="uk-margin">
                                        <input class="uk-input uk-form-width-medium" type="text" value="@tarefa.Descricao">
                                        <input type="checkbox" id="Urgente" name="Urgente" @(tarefa.Urgencia ? "checked" : "")>
                                        <span class="uk-text-bold texto-urgente">Urgente</span>
                                    </div>
                                    <div class="uk-flex uk-flex-middle botoes-acoes-editar">
                                        <button class="uk-button uk-button-default uk-modal-close"
                                            type="button">Cancelar</button>
                                        <button class="uk-button uk-button-primary" type="button">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <button class="botao-excluir"
                            onclick="remover('@Url.Action("ApagarTarefa", new { tarefaId = @tarefa.TarefaId })', $(this).closest('.tarefa-container, .tarefa-urgente-container'))">
                            <span class="uk-margin-small-right icone-lixeira" uk-icon="trash"></span>
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        cadastrarTarefa();
    });

    function cadastrarTarefa() {
        var descricao = $('#DescricaoTarefa').val();
        var urgente = $('#Urgente').is(':checked');

        if (descricao.trim() === '') {
            UIkit.notification({
                message: 'Informe a tarefa!',
                status: 'danger',
                pos: 'top-center',
                timeout: 1500
            });
            return;
        }

        const tarefa = {
            Descricao: descricao,
            Urgencia: urgente,
            Concluida: false
        };

        $.ajax({
            url: '@Url.Action("CriarTarefas", "Home")',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(tarefa),
            success: function () {
                UIkit.notification({
                    message: 'Tarefa adicionada com sucesso!',
                    status: 'success',
                    pos: 'top-center',
                    timeout: 1500
                });

                setTimeout(() => {
                    location.reload();
                }, 1000);
            },
            error: function () {
                UIkit.notification({
                    message: 'Erro ao adicionar tarefa!',
                    status: 'danger',
                    pos: 'top-center',
                    timeout: 1500
                });
            }
        });
    }

    function remover(url, elemento) {
        $.post(url)
            .done(function () {
                elemento.remove();
                UIkit.notification({
                    message: 'Tarefa removida com sucesso!',
                    status: 'success',
                    pos: 'top-center',
                    timeout: 1500
                });
            })
            .fail(function () {
                UIkit.notification({
                    message: 'Erro ao remover tarefa!',
                    status: 'danger',
                    pos: 'top-center',
                    timeout: 1500
                });
            });
    }

    function alternarConclusao(url) {
        $.post(url)
            .done(function () {
                UIkit.notification({
                    message: 'Estado da tarefa alternado com sucesso!',
                    status: 'success',
                    pos: 'top-center',
                    timeout: 1500
                });
            })
            .fail(function () {
                UIkit.notification({
                    message: 'Erro ao concluir tarefa!',
                    status: 'danger',
                    pos: 'top-center',
                    timeout: 1500
                });
            });
    }

    function filtrarTarefasUrgentes() {
        $('.tarefa-container').hide();
        $('.tarefa-urgente-container').show();
    }

    function mostrarTodasTarefas() {
        $('.tarefa-container, .tarefa-urgente-container').show();
    }

    function filtrarTarefasConcluidas() {
        $('.tarefa-container, .tarefa-urgente-container').each(function () {
            if ($(this).find('input[type="checkbox"]').is(':checked')) {
                $(this).css('display', 'flex');
            } else {
                $(this).hide();
            }
        });
    }

    function filtrarTarefasPendentes() {
        $('.tarefa-container, .tarefa-urgente-container').each(function () {
            if ($(this).find('input[type="checkbox"]').is(':checked')) {
                $(this).hide();
            } else {
                $(this).css('display', 'flex');
            }
        });
    }

    function pesquisarTarefa() {
        var tarefaPesquisada = $('#DescricaoTarefaPesquisada').val().toLowerCase();

        $('.tarefa-container, .tarefa-urgente-container').each(function () {
            var descricaoTarefa = $(this).find('.texto-tarefa').text().toLowerCase();

            if (descricaoTarefa.includes(tarefaPesquisada)) {
                $(this).css('display', 'flex');
            } else {
                $(this).hide();
            }
        });
    }
</script>
